.sidebar {
  width: 260px;
  height: 100vh;               /* ⭐ เต็มความสูงจอ */
  background: #00376b;
  color: white;

  position: fixed;             /* ⭐ ติดด้านซ้ายตลอด */
  top: 0;                      /* ⭐ ติดบนสุด */
  left: 0;

  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: left;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;                   /* ระยะห่างแต่ละปุ่ม */
}

.menuItem {
  background: #084c8d;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  transition: 0.2s;
}

.menuItem:hover {
  background: #0a5fb6;
}

.logout {
  background: #c9302c;
  margin-top: auto;            /* ⭐ ดันลงไปล่างสุด */
  padding: 12px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.logout:hover {
  background: #a32724;
}
