/* หน้า Community ทั้งหมด */
.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.noPosts {
  text-align: center;
  padding: 20px;
  color: #666;
}
