.filterPanel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filterPanel select {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.filterPanel select:hover {
  border-color: #0077b6;
}
