.mapContainer {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.mapBox {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.mapTitle {
  font-weight: bold;
  padding: 0.5rem;
  color: #0077b6;
}
